In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import pandas as pd
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/BA Project/productSampled.csv",encoding="utf-8")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36123 entries, 0 to 36122
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             36123 non-null  int64
 1   category_name  36123 non-null  object
 2   titles         36123 non-null  object
 3   min_price      31172 non-null  float64
 4   max_price      31172 non-null  float64
 5   avg_price      31172 non-null  float64
 6   min_num_shops  36123 non-null  int64
 7   max_num_shops  36123 non-null  int64
 8   avg_num_shops  36123 non-null  float64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.5+ MB

In [8]:
# Number of unique category_name values
unique_categories = df['category_name'].nunique()
print(f"Number of unique category names: {unique_categories}")

Number of unique category names: 2667

In [9]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
# Step 1: Extract TF-IDF features
vectorizer = TfidfVectorizer()
category_vectors = vectorizer.fit_transform(df['category_name'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36123 entries, 0 to 36122
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             36123 non-null  int64
 1   category_name  36123 non-null  object
 2   titles         36123 non-null  object
 3   min_price      31172 non-null  float64
 4   max_price      31172 non-null  float64
 5   avg_price      31172 non-null  float64
 6   min_num_shops  36123 non-null  int64
 7   max_num_shops  36123 non-null  int64
 8   avg_num_shops  36123 non-null  float64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.5+ MB

In [11]:
# Number of unique category_name values
unique_categories = df['category_name'].nunique()
print(f"Number of unique category names: {unique_categories}")

Number of unique category names: 2667

In [12]:
# Step 3: Apply K-Means Clustering
kmeans = KMeans(n_clusters=300)  # Adjust the number of clusters as needed
df['cluster'] = kmeans.fit_predict(category_vectors)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [13]:
print(df['cluster'])

0         58
1        189
2         58
3        131
4        215
        ...
36118      0
36119     65
36120    118
36121     79
36122      7
Name: cluster, Length: 36123, dtype: int32

In [14]:
df.to_csv('/content/drive/MyDrive/BA Project/productClusered.csv', index=False,encoding='utf-8-sig')