Load the test offline dataset to findout what they are

In [2]:
import pandas as pd
dataTest = pd.read_json(r'E:\Bachelor Project\contest_data_v1\test-offline-data_v1.jsonl', lines=True, chunksize=100000)
dfTest = pd.concat(dataTest)

In [4]:
dfTest.head()

       raw_query                                  result_not_ranked
0         s20 fe  [8823764, 5812326, 4182687, 4343057, 5325921, ...
1  سبد نظم دهنده  [989687, 8683232, 8033945, 6700778, 1751754, 6...
2       گوشی s12  [5311585, 4966652, 6263288, 6276873, 2987374, ...
3       کیک تولد  [363245, 1969800, 4402390, 7648096, 7839856, 2...
4           هارد  [574920, 3033117, 7857191, 483723, 4872744, 74...

In [6]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23140 entries, 0 to 23139
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   raw_query          23140 non-null  object
 1   result_not_ranked  23140 non-null  object
dtypes: object(2)
memory usage: 361.7+ KB

In [13]:
print(dfTest.isnull().sum())

raw_query            0
result_not_ranked    0
dtype: int64

Save the test offline dataset to a csv file

In [5]:
dfTest.to_csv('test-offline-data.csv', index=False, encoding='utf-8-sig')

Load the torob search dataset to findout what they are

In [8]:
import pandas as pd
dataTorob = pd.read_json(r'E:\Bachelor Project\contest_data_v1\torob-search-data_v1.jsonl', lines=True, chunksize=100000,encoding='utf-8-sig')
dfTorob = pd.concat(dataTorob)

In [9]:
dfTorob.head()

,raw_query,result,clicked_result,clicked_rank,timestamp
0,لوستر سقفی برنز,"[7151290, 6462477, 7385791, 8451497, None, 269...",[9457219],[16],2022-07-24 09:21:58.752000+00:00
1,قیمت هلیکوپتر,"[363737, 3147253, 8720128, 9796388, 1420685, 5...","[3147253, 7135387]","[1, 7]",2022-07-24 07:32:12.261000+00:00
2,ساعت هوشمند,"[2459592, 9391819, 4229448, 7824893, 1670767, ...","[900897, 2931230, 31302]","[7, 25, 52]",2022-07-24 02:51:35.643000+00:00
3,تفلون مایع,"[5428407, 4474271, 4581189, 8504749, 4131340, ...","[7660686, 5901997, 2376830, 2383125]","[19, 18, 21, 36]",2022-07-24 02:51:54.771000+00:00
4,خط زن,"[8466568, 9285461, 1105044, 1314054, 1791930, ...",[3852139],[20],2022-07-23 20:56:36.043000+00:00

In [10]:
dfTorob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499901 entries, 0 to 2499900
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   raw_query       object
 1   result          object
 2   clicked_result  object
 3   clicked_rank    object
 4   timestamp       datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 95.4+ MB

Save the torob search dataset to a csv file

In [12]:
print(dfTorob.isnull().sum())

raw_query         0
result            0
clicked_result    0
clicked_rank      0
timestamp         0
dtype: int64

**This is very important**

In [15]:
unique_raw_queries = dfTorob['raw_query'].nunique()
print(f"Number of unique raw_query values: {unique_raw_queries}")

Number of unique raw_query values: 270099

In [11]:
dfTorob.to_csv('torob-search-data.csv', index=False, encoding='utf-8-sig')