**Normalize the "titles" attribute**

Replace multiple spaces with a single space
Remove non-alphanumeric characters
Convert non-string entries to strings

In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("E:\Bachelor Project\contest_data_v1\products-info_v1.csv")

In [6]:
print(df['titles'])

0                 ['میکروسکوپ اپتیکی سلسترون مدل 44121 CGL']
1          ['ماشین بازی فورد موستانگ مایستو مدل 2015 Ford...
2          ['کتاب راهنمای کاربردی عیب یابی و تعمیر موتور ...
3          ['لپ تاپ مایکروسافت مدل سرفیس لپتاپ با پردازند...
4          ['کتاب اقیانوسی در ذهن كلر وندرپول', 'اقیانوسی...
                                 ...
3612272    ['ساعت مچی آنالوگ مردانه سیاه برند diesel DZ45...
3612273    ['کاپشن روزمره مردانه سیاه برند columbia 14204...
3612274    ['کاپشن روزمره مردانه سرمه\u200cای برند columb...
3612275        ['کیف ورزشی مردانه سیاه برند puma YAGM18931']
3612276               ['کیف ورزشی زنانه طوسی آدیداس HM9120']
Name: titles, Length: 3612277, dtype: object

In [7]:
# Function to normalize text: strip spaces, convert to lowercase, and remove non-alphanumeric characters
def normalize_text(text):
    if isinstance(text, str):
        text = text.strip().lower()
        text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with a single space
        text = re.sub(r'\W+', ' ', text)  # Remove non-alphanumeric characters
        return text
    return str(text).strip().lower()  # Convert non-string entries to strings
# Apply normalization to the 'فارسی' column
df['titles'] = df['titles'].apply(normalize_text)

# Check the results
df['titles'].head()

0              میکروسکوپ اپتیکی سلسترون مدل 44121 cgl
1     ماشین بازی فورد موستانگ مایستو مدل 2015 ford ...
2     کتاب راهنمای کاربردی عیب یابی و تعمیر موتور س...
3     لپ تاپ مایکروسافت مدل سرفیس لپتاپ با پردازنده...
4     کتاب اقیانوسی در ذهن كلر وندرپول اقیانوسی در ...
Name: titles, dtype: object

this is safe and reliable

Remove all English letters (both lowercase and uppercase) and numbers

In [9]:
def non_english(text):
    if isinstance(text, str):
        text = re.sub(r'[a-zA-Z0-9]', '', text)  # Remove all English letters (both lowercase and uppercase)
        text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with a single space
        return text
    return str(text).strip().lower()  # Convert non-string entries to strings
df['titles'] = df['titles'].apply(non_english)
# Check the results
# df['titles','category_name'].head(50)
df['titles'].head()

0                        میکروسکوپ اپتیکی سلسترون مدل
1                  ماشین بازی فورد موستانگ مایستو مدل
2     کتاب راهنمای کاربردی عیب یابی و تعمیر موتور س...
3     لپ تاپ مایکروسافت مدل سرفیس لپتاپ با پردازنده...
4     کتاب اقیانوسی در ذهن كلر وندرپول اقیانوسی در ...
Name: titles, dtype: object

but i do not know am i right or not because i erase and removed a lot of text in titles